{% extends "categories_sidebar.html" %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block main_content %}
    <h3 class="h3">Welcome to the CatalogApp!</h3>
    <hr>
    <p>
        This is the 3rd exercise from Udacity's FullStack Web Developer
        Nanodegree.
    </p>
    <p>
        Please feel free to create many categories and items! Please note, however,
        that you need to be logged in to create new categories.
    </p>
    <p>
        Once logged in, a plus sign will appear on the sidebar which will take
        you to the new category page.
    </p>
    <p>
        Enjoy!! ;)
    </p>
    <form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
{% endblock %}
