{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Login
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="h3 header">Login</p>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-xs-12" id="login-text">
                <p><strong>
                    Choose to login with your account from Google or Facebook!
                </strong>
                </p>
            </br>
            </div>
            <div class="col-xs-12" id="result"></div>
            <div class="col-xs-6">
                <div id="signinButton">
                    <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="737103238319-s2vsr27ok2qmdc96l206p04gk8rl9odn.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signinCallback"
                        data-approvalprompt="force">
                </div>
            </div>
            <div class="col-xs-6" id="fb-button">
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer()">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- csrf token for the ajax requests -->
    <script>
        var csrftoken = "{{ csrf_token() }}";
    </script>
    <!-- Google OAuth API -->
    <script src="https://apis.google.com/js/client:platform.js?onload=start"
            async defer></script>

    <!-- Google OAuth Callback -->
    <script>
        function signinCallback(authResult) {
            if (authResult['code']) {
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    },
                    type: 'POST',
                    url: '/gconnect?state={{ STATE }}',
                    processData: false,
                    contentType: 'application/octet-strem; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#login-text').hide();
                            $('#signinButton').hide();
                            $('#fb-button').hide();
                            $('#result').html('Login Successful!</br>'
                                            + result
                                            + '</br>Redirecting...</br></br>')
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' +
                                        authResult['error']);
                        }
                    }
                })
            } else {
                $('#result').html('Failed to make a server-side call.' +
                    'Check your configuration and console');
            }
        }
    </script>

    <!-- Facebook JS SDK -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId   : '1025788104139019',
                cookie  : true,
                xfbml   : true,
                version : 'v2.5'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Facebook OAuth login callback -->
    <script>
        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log('Welcome! Fetching your access token...');
            console.log('Access token fetched! ' + access_token)
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
                $.ajax({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    },
                    type: 'POST',
                    url: 'fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-strem; charset=utf-8',
                    success: function(result) {
                        if (result) {
                            $('#login-text').hide();
                            $('#signinButton').hide();
                            $('#fb-button').hide();
                            $('#result').html('Login Successful!</br>'+ result +
                                '</br> Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/";
                            }, 4000);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.')
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}
