{% extends 'user_sidebar.html' %}
{% block title %}
    {{ super() }}
    {{ user.name }}
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-top: 5em">
        <div class="col-sm-6">
            <img src="{{ user.picture }}" alt="User picture"
                width="300px" height="300px">
        </div>
        <div class="col-sm-6">
            <p class="lead">ID:</p>
            <p>{{ user.id }}</p>
            <p class="lead">E-mail:</p>
            <p>{{ user.email }}</p>
        </br>
            <a href="{{ url_for('deleteUser', user_id=user.id) }}"
                class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"</span>
                Delete
            </a>
        </div>
    </div>
    <form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
{% endblock %}
